body{
    background-color:#0D0D0D ;
    color: #fff;
}
.side-nav{
    position: absolute;
    width: 10%;
    left: 0;
    top: 0;
    height: 100%;
}
.main-content{
    position: absolute;
    width: 90%;
    right: 0;
    top: 0;
    height: 100%;
}
.side{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    margin-right: 30%;
    /* background-color: blueviolet; */
    z-index: 999999;
}
.side .list ul{
    list-style-type: none;
    /* float: left; */
}
.side .list ul a{
    line-height: 50px;
    text-decoration: none;
    color: #fff;
}
.side{
    left: -139.469px;
}
.side .list{
    /* position:unset; */
    padding: 3%;
    background-color: #000;
   
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 8% 5% 8% 10%;
    background-color: #fff;
}
.nav i{
    color: #000;
    font-size: 25px;
}
.in{
    width: 130px;
}
/* ======================================= main content= ================================ */
.parent{
    position: relative;
    overflow:hidden;
}
.layer{
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background-color: rgba(182, 186, 185, .8);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.parent:hover  .layer{
  top: 0;
  
}
#footer{
    position: absolute;
    bottom: 0;
}
#footer p{
    font-size: small;
    padding-right: 10%;
}
#footer i{
    margin: 5%;
}
.row .parent .layer .caption .overView{
    width: 80% !important;
    max-height:170px !important;
    margin: auto !important;
    /* white-space: nowrap; */
    overflow:hidden;
    /* text-overflow: ellipsis; */
}
.row .parent .layer .caption .overView p{
    max-height:25% !important;
}